<div class="page-header">
  <%= link_to "Edit Profile", "/users/#{@user.id}/edit", :class => "btn btn-md btn-warning pull-right" %>
  <h1>My Profile</h1>
</div>

<p> First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p type="password">Password: <%= @user.password %></p>
<p>Current City: <%= @user.city %></p>
<p>Current State: <%= @user.state %></p>
<br>

