<div class="page-header">
  <h1>Add a New Course to 1Y Course Review</h1>
</div>

<form action="/courses/create" class="col-md-12">

  <div class="form-group">
      <label class="control-label">Select the Course Department:</label>
      <div class="control-label">
        <select name="department_id" class="form-control" id="department_id">
          <option value="<%= Department.find_by(:name => "ACCT").id %>">ACCT</option>
          <option value="<%= Department.find_by(:name => "BLAW").id %>">BLAW</option>
          <option value="<%= Department.find_by(:name => "DECS").id %>">DECS</option>
          <option value="<%= Department.find_by(:name => "FINC").id %>">FINC</option>
          <option value="<%= Department.find_by(:name => "HEMA").id %>">HEMA</option>
          <option value="<%= Department.find_by(:name => "INTL").id %>">INTL</option>
          <option value="<%= Department.find_by(:name => "KIEI").id %>">KIEI</option>
          <option value="<%= Department.find_by(:name => "KPPI").id %>">KPPI</option>
          <option value="<%= Department.find_by(:name => "MECN").id %>">MECN</option>
          <option value="<%= Department.find_by(:name => "MEDM").id %>">MEDM</option>
          <option value="<%= Department.find_by(:name => "MGMT").id %>">MGMT</option>
          <option value="<%= Department.find_by(:name => "MKTG").id %>">MKTG</option>
          <option value="<%= Department.find_by(:name => "MORS").id %>">MORS</option>
          <option value="<%= Department.find_by(:name => "OPNS").id %>">OPNS</option>
          <option value="<%= Department.find_by(:name => "REAL").id %>">REAL</option>
        </select>
      </div>
  </div>

  <div class="form-group">
    <label class="control-label">Course Code:</label>
    <input name="course_code" type="text" class="form-control input-md" placeholder="Please enter the 3 digit course code (i.e., 441)">
  </div>

  <div class="form-group">
    <label class="control-label">Course Title:</label>
    <input name="title" type="text" class="form-control input-md" placeholder="Example: Startup Programming and Management">
  </div>

  <div class="form-group">
    <label class="control-label">Course Description:</label>
    <textarea name="description" class="form-control input-md"  rows="5" placeholder="Please copy and paste course description from Kellogg Bidding site or course syllabus"></textarea>
  </div>

  <button type="submit" class="btn btn-success btn-md">Add Course</button>
  or
  <a href="/courses">Cancel</a>
</form>
