<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" src="/assets/k.ico">

  <title><%= @title || "1Y Course Review" %></title>

  <link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 100px;
      background-color: white;
    }
    h1, h2, h4, h5{
        color:  #505050;
    }
    h3{
        color: #660099;
    }
    .navbar-collapse{
        background-color:  #660099;
    }
    .nav{
        background-color: #660099;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "1Y Course Review", "", :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% user = User.find_by(:id => session[:user_id]) %>

        <% if user.present? %>

        <li><a href="/home">Home</a></li>
        <li class="dropdown">
              <a href="/courses" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
              <ul class="dropdown-menu list-group">
                 <li><a href="/courses">All Courses</a></li>
                <li class="divider"></li>

                <li class="dropdown-header">View by Department</li>
                <% Department.all.order("name").each do |department| %>
                    <li>
                        <a href="/courses?dept=<%= department.name %>">
                          <%= department.name %>
                        </a>
                    </li>
                  <% end %>
              </ul>
            </li>
        <li class="dropdown">
              <a href="/courses" class="dropdown-toggle" data-toggle="dropdown">Helpful Links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.kellogg.northwestern.edu/serial.aspx" target="_blank">Serial</a></li>
                <li><a href="https://www20.kellogg.northwestern.edu/FTMBA_Registration/" target="_blank">Course Bidding</a></li>
                <li><a href="https://www.kellogg.northwestern.edu/layouts/wslogin.aspx?returnURL=ReturnURLRedirectKPlan" target="_blank">kPlan</a></li>
                <li><a href="https://courses.northwestern.edu/" target="_blank">Blackboard</a></li>
                <li><a href="http://www.northwestern.edu/caesar/" target="_blank">CAESAR</a></li>
              </ul>
        </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% user = User.find_by(:id => session[:user_id]) %>

        <% if user.present? %>

          <li class="dropdown">
              <a href="/courses" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= user.first_name %>! <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= user.id %>/show">My Profile</a></li>
                <li><a href="/reviews/<%= user.id %>/show">My Reviews</a></li>
                <li><a href="/logout">Sign Out</a></li>
              </ul>
            </li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Sign In</a></li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
